@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

section{
    width: 100%;
    background: url("./abstract-astronomy-dark-924824.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    padding: 0%;
    
}
.Container{
    height: auto;
    text-align: left;
}
h4{
    font-family: sans-serif;
    font-weight: lighter !important;
   
}
span{
   font-size: 1.5rem;
}

 .Upper-Section{
    background: linear-gradient(to right,rgba(231, 133, 133, 0.38),rgb(11, 8, 11),rgba(231, 133, 133, 0.334));
    height: 300px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
h3{
    letter-spacing: 0.5rem;
    font-size: 3rem !important;
    font-weight: lighter !important;
    color: white;
}
input[type='text']{
    background: black;
    font-size: larger;
}

Button{
    font-size: larger;

}
input[type='email']{
    background: black;
    
    font-size: larger;

}

textarea[type="text"]{
    background: black;
   
    font-size: larger;

}

/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */
