@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    position: relative;
}

section {
    width: 100%;
    background: url("./martin-sanchez-G78c3DPmD_A-unsplash.jpeg");
    /* background: url("/Users/shubhamvijayvargiy/Desktop/projects/poc/modder-coder/src/components/featue-bg.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    padding: 0%;

}

.Row {
    height: auto;
    text-align: left;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.712), rgba(25, 24, 24, 0.507));

}

h4 {
    font-family: sans-serif;
    font-weight: lighter !important;
    font-size: 2rem !important;
}

span {
    font-size: 1.7rem;
}


.Upper-Section {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.712), rgba(25, 24, 24, 0.507));
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

h3 {
    letter-spacing: 0.5rem;
    font-size: 3rem !important;
    font-weight: lighter !important;
    color: white;
}

input[type='text'] {
    background: none;
    font-size: inherit;
    font-style: inherit;
    color: white;
    outline: none;



}

input[type='text']:focus {
    background: none;
    color: white;
    border-width: 0px;
    border: none;
    outline: none;


}

input[type='email']:focus {
    background: none;
    color: white;
    border-width: 0px;
    border: none;
    outline: none;


}

textarea[type='text']:focus {
    background: none;
    color: white;
    border-width: 0px;
    border: none;
    outline: none;



    outline: none;
}

Button {
    font-size: larger;

}

input[type='email'] {
    background: none;


    font-size: larger;

}

textarea[type="text"] {
    background: none;
    font-size: larger;




}